* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slide-wrapper {
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
}
.slide-container {
  width: 400px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  scroll-behavior: smooth;
  margin-top: 9rem;
  border-radius: 9px;
}
.slides-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
/* WebKit */
.slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}
.slide {
  flex: 1 0 100%;
  width: 400px;
  height: 400px;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: transform 0.5s ease-in-out;
}
.bx {
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}

